<div class="section">
<%= simple_form_for @post do |f| %>
  <div class="field">
    <div class="control">
      <%= f.input :title, input_html: { class: 'form-control m-input' }, wrapper: false   %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :content, input_html: { class: 'textarea form-control m-input' }, wrapper: false   %>
    </div>
  </div>
   <div class="field">
    <div class="control">
      <%= f.input :url, input_html: { class: 'form-control m-input' }, wrapper: false   %>
    </div>
  </div>
<br/>
<br/>
 										<div class="">
											<div class="m-form__actions m-form__actions">
												<div class="row">
													<div class="col-lg-2"></div>
													<div class="col-lg-6">
														<%= f.button :submit, 'save', class: "btn btn-primary" %>
													
													</div>
												</div>
											</div>
										</div>
									 <% end %>
</div>