 <section>
        <div id="csi-schedule" class="csi-schedule">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading csi-heading-white">
                                <h2 class="heading">Event Schedule</h2>
                                <h3 class="subheading">Conferences dedicated to building remarkable events.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-tab">
                                <ul class="nav nav-pills csi-nav">
                                    <li><a  class="active" data-toggle="pill" href="#home"><h3>First <span>Day</span></h3> <p><span>12 </span>Dec, 2019</p></a></li>
                                    <li><a data-toggle="pill" href="#menu1"><h3>Second <span>Day</span></h3> <p><span>13 </span>Dec, 2019</p></a></li>
                                    <li><a data-toggle="pill" href="#menu2"><h3>Third <span>Day</span></h3> <p><span>14 </span>Dec, 2019</p></a></li>
                                </ul>
                                <div class="tab-content csi-tab-content">


                                    <div id="home" class="tab-pane fade in active">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <div class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                  
                                                                </div>
                                                                <div class="schedule-info"> 
                                                                    <h4 class="time">5:30 <span>PM</span> - 12:00 <span>AM</span></h4>
                                                                    <h3 class="title">PUBG MOBILE Star Challenge World Cup 2019</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                          The world's best PUBG MOBILE teams are coming to Riyadh!
PUBG MOBILE Star Challenge World Cup taking place in Saudi Arabia for the first time!
32 highly-skilled teams from all over the world will compete against each other. Who will be the champion to win the biggest Chicken Dinner of the year?
                                                        </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Allan Walker (DJ)</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <p class="text">            </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="heading3">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Cpsplay Stars</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                                    <div class="panel-body">
                                                        <p class="text">    </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Magiciian</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <p class="text"> </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>

<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo4">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo4" aria-expanded="true" aria-controls="collapseTwo4">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">PUBG MOBILE Giveaways</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo4">
                                                    <div class="panel-body">
                                                        <p class="text"> </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>

<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo41">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo41" aria-expanded="true" aria-controls="collapseTwo41">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Paint Ball</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo41" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo41">
                                                    <div class="panel-body">
                                                        <p class="text">  </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>


<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo46">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo46" aria-expanded="true" aria-controls="collapseTwo46">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Food Court</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo46" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo46">
                                                    <div class="panel-body">
                                                        <p class="text">  </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>






                                    </div>


                                    <div id="menu1" class="tab-pane fade in">

                                        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo2">
                                                    <div class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                     <%= image_tag "schedule/logo.jpg"%>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">5:30 <span>PM</span> - 12:00 <span>AM</span></h4>
                                                                    <h3 class="title">PUBG MOBILE Star Challenge World Cup 2019</h3>
                                                                    
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo2" class="panel-collapse " role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                           PUBG MOBILE Star Challenge World Cup taking place in Saudi Arabia for the first time!
32 highly-skilled teams from all over the world will compete against each other. Who will be the champion to win the biggest Chicken Dinner of the year?
                                                        </p>
                                                      <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>



 <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="heading301z01">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse301z01" aria-expanded="true" aria-controls="collapse301z01">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Cosmicat (DJ)</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapse301z01" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading301z01">
                                                    <div class="panel-body">
                                                        <p class="text">       </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>


 <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="heading301">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse301" aria-expanded="true" aria-controls="collapse301">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Cpsplay Stars</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapse301" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading301">
                                                    <div class="panel-body">
                                                        <p class="text">       </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo02">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo02" aria-expanded="true" aria-controls="collapseTwo02">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Magiciian</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo02" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo02">
                                                    <div class="panel-body">
                                                        <p class="text"></p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>

<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo403">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo403" aria-expanded="true" aria-controls="collapseTwo403">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">PUBG MOBILE Giveaways</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo403" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo403">
                                                    <div class="panel-body">
                                                        <p class="text">  </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>

<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo4104">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo4104" aria-expanded="true" aria-controls="collapseTwo4104">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Paint Ball</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo4104" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo4104">
                                                    <div class="panel-body">
                                                        <p class="text">  </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>


<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo4605">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo4605" aria-expanded="true" aria-controls="collapseTwo4605">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Food Court</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo4605" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo4605">
                                                    <div class="panel-body">
                                                        <p class="text"> </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                    </div>


                                    <div id="menu2" class="tab-pane fade in">

                                        <div class="panel-group" id="accordion306" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingOne3">
                                                    <div class="panel-title">
                                                        <a  role="button" data-toggle="collapse" data-parent="#accordion306" href="#collapseOne306" aria-expanded="true" aria-controls="collapseOne306">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                   <%= image_tag "schedule/logo.jpg"%>
                                                                </div>
                                                                <div class="schedule-info">
                                                                     <h4 class="time">5:30 <span>PM</span> - 12:00 <span>AM</span></h4>
                                                                    <h3 class="title">PUBG MOBILE Star Challenge World Cup 2019</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseOne306" class="panel-collapse  " role="tabpanel" aria-labelledby="headingOne306">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                           PUBG MOBILE Star Challenge World Cup taking place in Saudi Arabia for the first time!
                                                            32 highly-skilled teams from all over the world will compete against each other. Who will be the champion to win the biggest Chicken Dinner of the year?
                                                        </p>
                                                      <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>



                                         
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="heading3x03x07">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3x03x07" aria-expanded="true" aria-controls="collapse3x03x07">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Yann Dulche (DJ)</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapse3x03x07" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3x03x07">
                                                    <div class="panel-body">
                                                        <p class="text">       </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>


                                            
                                         
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="heading3x03x08">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3x03x08" aria-expanded="true" aria-controls="collapse3x03x08">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Hilal Game Screen</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapse3x03x08" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3x03x08">
                                                    <div class="panel-body">
                                                        <p class="text">     </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                         
                                         
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="heading3x03">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3x03" aria-expanded="true" aria-controls="collapse3x03">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Cpsplay Stars</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapse3x03" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3x03">
                                                    <div class="panel-body">
                                                        <p class="text">      </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwox04">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwox04" aria-expanded="true" aria-controls="collapseTwox04">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Magiciian</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwox04" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwox05">
                                                    <div class="panel-body">
                                                        <p class="text">  </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>

<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo4x06">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo4x06" aria-expanded="true" aria-controls="collapseTwo4x06">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">PUBG MOBILE Giveaways</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo4x06" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo4x06">
                                                    <div class="panel-body">
                                                        <p class="text"> </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>

<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo41x07">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo41x07" aria-expanded="true" aria-controls="collapseTwo41x07">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Paint Ball</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo41x07" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo41x07">
                                                    <div class="panel-body">
                                                        <p class="text"> </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>


<div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo46x08">
                                                    <div class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo46x08" aria-expanded="true" aria-controls="collapseTwo46x08">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                    <%# <img src="assets/img/schedule/speaker2.jpg" alt="Speaker"> %>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">05:30 <span>AM</span> - 12.00 <span>AM</span></h4>
                                                                    <h3 class="title">Food Court</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo46x08" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo46x08">
                                                    <div class="panel-body">
                                                        <p class="text"> </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>




                                            
                                        </div>
<!--end-->
                                    </div>


                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </section>