   <section>
        <div id="csi-speakers" class="csi-speakers">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading">
                                <h2 class="heading">Who’s Speaking</h2>
                                <h3 class="subheading">Conferences dedicated to building remarkable events.</h3>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-speaker">
                                <figure>
                                    <a class="profile-img" href="speakers.html">
                                    <%= image_tag "speaker1.jpg"%>
                                 </a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a href="#speaker.html">Jonathon Doe</a></h3>
                                            <h4 class="subtitle">Ceo of LogicHunt</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-speaker">
                                <figure>
                                    <a class="profile-img" href="#speakers.html"> <%= image_tag "speaker2.jpg" %></a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a href="#speaker.html">Jonathon Doe</a></h3>
                                            <h4 class="subtitle">Ceo of LogicHunt</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-speaker">
                                <figure>
                                    <a class="profile-img" href="#speakers.html">
                                    <%= image_tag "speaker3.jpg"%>
                                    </a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a href="#speaker.html">Jonathon Doe</a></h3>
                                            <h4 class="subtitle">Ceo of LogicHunt</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-speaker">
                                <figure>
                                    <a class="profile-img" href="#speakers.html">
                                    <%= image_tag "speaker4.jpg"%>
                                    </a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a href="#speaker.html">Jonathon Doe</a></h3>
                                            <h4 class="subtitle">Ceo of LogicHunt</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-speaker">
                                <figure>
                                    <a class="profile-img" href="#speakers.html">
                                      <%= image_tag "speaker5.jpg"%>
                                    </a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a href="#speaker.html">Jonathon Doe</a></h3>
                                            <h4 class="subtitle">Ceo of LogicHunt</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-speaker">
                                <figure>
                                    <a class="profile-img" href="#speakers.html">
                                    <%= image_tag "speaker6.jpg"%>
                                    </a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a href="#speaker.html">Jonathon Doe</a></h3>
                                            <h4 class="subtitle">Ceo of LogicHunt</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                    <div class="speakers-btn-area">
                        <a class="csi-btn csi-btn-big" href="#speakers.html">View More Speakers</a>
                    </div>
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </section>